h2{
    color:brown;
    
}

  table {
    border-collapse: collapse;
    width: 100%;
  }
  table, th, td {
    border: 1px solid;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
   
  /* tr:nth-child(even){background-color: #f2f2f2} */
  th {
    background-color: #3bc8ef;
    color: white;
  }
  tr:hover {background-color: rgb(236, 252, 157);}